<div [ngClass]="['auth_box']">
    <div *ngIf="!globalService.loggedIn">
        <div [ngClass]="['row_r', 'rules', 'step']">
            <text [ngStyle]="{'margin-top':'7px'}">
                E-mail:
            </text>
            <input type="email" (keyup)="onInputEmail($event)">
        </div>

        <div [ngClass]="['row_r', 'rules', 'step']">
            <text [ngStyle]="{'margin-top':'7px'}">
                Pass:
            </text>
            <input type="text" (keyup)="onInputPassword($event)">
        </div>
    </div>

    <div *ngIf="!globalService.loggedIn; else logoutBlock">
        <div [ngClass]="['row_r', 'rules']">
            <button
                    [disabled]="!emailValidate || !passwordValidate"
                    (click)="loginByVal()" id="submitInputData">
                Login
            </button>
<!--            <text [ngStyle]="{'margin-top':'7px'}">-->
<!--                or-->
<!--            </text>-->
<!--            <button (click)="loginAuto()">-->
<!--                Logauto-->
<!--            </button>-->
        </div>
    </div>
</div>

<ng-template #logoutBlock>
    <div [ngClass]="['row_r', 'rules', 'step']">
        <text [ngStyle]="{'margin-top':'7px'}">
            Logged as:
        </text>
    </div>
    <div [ngClass]="['row_r', 'rules', 'step', 'move']">
        <span [ngClass]="['move']">
            {{resultAuth.user.name}}
        </span>
    </div>
    <div [ngClass]="['row_r', 'rules']">
        <button
            (click)="logOut()"
            [ngClass]="['warning']">
            Log Out
        </button>
    </div>
</ng-template>


