.form_display_container {
  width: 100%;
  padding-right: 16px;
  background: #363636;
}

.form_container {
  width: auto;
  padding: 16px;
  margin: 8px;
  border-radius: 5px;
  background-color: #efefef;
  font-size: 10px;

  .form_data {
    line-height: 11px;
    font-size: 8px;

    span {
      color: green;
    }
  }
}

.form_field_rules {
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;

  .form_field {
    flex-grow: 1;
    border: 0 0 #bfbfbf;
    background: #dcdcdc;
    padding: 8px;
    border-radius: 2px;
  }

  button {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 8px;
    font-size: 10px;
    line-height: 10px;
  }
}

