
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TaskAstaMobi-primary: mat-palette($mat-indigo);
$TaskAstaMobi-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TaskAstaMobi-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TaskAstaMobi-theme: mat-light-theme((
  color: (
    primary: $TaskAstaMobi-primary,
    accent: $TaskAstaMobi-accent,
    warn: $TaskAstaMobi-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($TaskAstaMobi-theme);


// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TaskAstaMobi-primary: mat-palette($mat-indigo);
$TaskAstaMobi-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TaskAstaMobi-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TaskAstaMobi-theme: mat-light-theme((
  color: (
    primary: $TaskAstaMobi-primary,
    accent: $TaskAstaMobi-accent,
    warn: $TaskAstaMobi-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($TaskAstaMobi-theme);

@import '~@angular/material/theming';
@include mat-core();

$TaskAstaMobi-primary: mat-palette($mat-indigo);
$TaskAstaMobi-accent: mat-palette($mat-pink, A200, A100, A400);
$TaskAstaMobi-warn: mat-palette($mat-red);

$TaskAstaMobi-theme: mat-light-theme((
  color: (
    primary: $TaskAstaMobi-primary,
    accent: $TaskAstaMobi-accent,
    warn: $TaskAstaMobi-warn,
  )
));

@include angular-material-theme($TaskAstaMobi-theme);

//GLOBAL

@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import "~ngx-easy-table/style.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//COLOR SETTINGS

.set_green {--main-bg-color: green;}
.set_blue {--main-bg-color: blue;}
.set_gray {--main-bg-color: gray;}

//BUTTONS

.custom_buttons_flexible_passive {
  flex-basis: 120px;
  font-size: 11px;
  font-weight: 350;
  color: #363636;
  padding: 5px;
  border-radius: 5px;
  background-color: #dfdfdf;
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  transition: all 0.3s linear;
  margin: 10px;
  user-select: none;

  &:hover {
    background-color: var(--main-bg-color);
    cursor: pointer;
    color: lightgray;
    font-weight: 350;
    font-weight: bold;
  }
}

.custom_buttons_flexible_active {
  flex-basis: 120px;
  font-size: 11px;
  font-weight: 350;
  font-weight: bold;
  color: lightgray;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  flex-shrink: 1;
  flex-grow: 1;
  transition: all 0.3s linear;
  margin: 10px;
  user-select: none;

  &:hover {
    background-color: var(--main-bg-color);
    cursor: pointer;
  }
}
