//GLOBAL

@import '~roboto-fontface/css/roboto/roboto-fontface.css';
@import "~ngx-easy-table/style.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//BUTTONS

.auth_box {
  width: 280px;
  background: #f0ffee;
  border-radius: 15px;
  padding: 16px;
  margin: 20px 20px 20px auto;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.control_box {
  width: auto;
  padding: 16px;
  margin: 10px;
  border-radius: 15px;
  background-color: #efefef;
  margin: 0 20px 20px 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.container {
  width: auto;
  padding: 16px;
  border-radius: 15px;
  background-color: #efefef;
  margin: 0 20px 20px 20px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.row {
  display: flex;
  justify-content: flex-start;
}

.row_r {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.space {
  display: flex;
  justify-content: space-between;
}

.step {
  margin-bottom: 15px;
}

.move {
  margin-right: 10px;
}

.rules {
  text {
    margin-right: 10px;
  }

  smalltext {
    margin-right: 10px;
    font-size: 10px;
    opacity: 0.4;
  }

  input {
    height: 33px;
    //height: 35px;
    margin-right: 14px;
    padding-left: 14px;
    border: none;
    border-radius: 10px;
    appearance: none;
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.2);
  }

  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }

  button {
    height: 35px;
    margin-right: 10px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px;
    border: none;
    background: #ffffff;
    user-select: none;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    &:hover {
      user-select: none;
      cursor: pointer;
      background: #eaeaea;
    }
  }

  span {
    color: green;
    user-select: none;
  }

  fieldscontainer {
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  field {
    height: 27px;
    flex-grow: 1;
    border: none;
    background: #dcdcdc;
    vertical-align: text-bottom;
    padding-left: 14px;
    padding-top: 8px;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  }

  .warning {
    &:hover {
      background: #ffecec;
    }
  }

  .cancel {
    &:hover {
      background: #fff9e0;
    }
  }

  .apply {
    &:hover {
      background: #f0ffdc;
    }
  }
}
